<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-planes"><%= link_to "Planes", casein_planes_path %></li>
<li id="tab-flights"><%= link_to "Flights", casein_flights_path %></li>